<h1>Abhishek</h1>
<p>{{ fNAme }}</p>
<p>{{ 3 + 5 }}</p>
<p>{{ 2 < 5 }}</p>
    <p>{{ a > b ? "a is greater" : "b is greater" }}</p>
    <p>sum of a + b is: {{ add(10, 12) }}</p>
    <app-product></app-product>
    <app-add-student></app-add-student>

    <!-- property Binding -->

    <h1 [innerHTML]="heading"></h1>
    <!-- NGFOR -->
    <table  border="5px">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Age</th>
          <th>percentage</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let single of studentList"
        [ngClass]="{
          'bg-success': single.percentage >= 80,
          'bg-warning': single.percentage > 50 && single.percentage < 80,
          'bg-danger': single.percentage <= 50
        }">
          <td>{{ single.id }}</td>
          <td>{{ single.name }}</td>
          <td>{{ single.age }}</td>
          <td>{{ single.percentage }}</td>
        </tr>
      </tbody>
      <tfoot></tfoot>
    </table>
    <!-- NGIF  -->
    <button (click)="toggleHasPermission($event)">Has permission toggle</button>
    <div *ngIf="has;else ref">
      this will appear
    </div>
    <ng-template #ref>
      <div>
        this will not appear
      </div>
    </ng-template>

    <!-- NGSWITCH -->
    <div [ngSwitch]="num2">
      <div *ngSwitchCase="10"> num is 10</div>
      <div *ngSwitchCase="20"> num is 20</div>
      <div *ngSwitchCase="30"> num is 30</div>
    </div>

    <!-- ATTRIBUTE DIRECTIVE -->

    <div>
      <div>
        <label> name </label>
        <input type="text" name="userName" id="userName" [(ngModel)]="student.userName" />
      </div>
      <div>
        <label> dob </label>
        <input type="date" name="dob" id="dob" [(ngModel)]="student.dob" />
      </div>
      <div>
        <label> age </label>
        <input type="text" name="age" id="age" [(ngModel)]="student.age" />
      </div>
      <div>
        <label> mobile number </label>
        <input type="text" name="mobile" id="mobile" [(ngModel)]="student.mobile" />
      </div>
      <div>
        <label> email </label>
        <input type="email" name="email" id="email" [(ngModel)]="student.email" />
      </div>
    </div>
    <div>
      {{student|json}}
    </div>

    <!-- NG CLASS -->
    
    <div [ngClass]="bgColor==1 ? 'bg-red' : 'bg-blue'">ngClass</div>
    
    <!-- NG CLASS WITH OBJECT -->
    
    <div [ngClass]="{
      'bg-red':bgColor == 1,
      'bg-blue':bgColor !== 1
    }"> ngClass by object </div>

    <!-- NG STYLE -->

    <table  border="5px">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Age</th>
          <th>percentage</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let single of studentList"
        [ngStyle]="{
          color:single.percentage<80? 'red' : 'green',
        }">
          <td>{{ single.id }}</td>
          <td>{{ single.name }}</td>
          <td>{{ single.age }}</td>
          <td>{{ single.percentage }}</td>
        </tr>
      </tbody>
      <tfoot></tfoot>
    </table>
    <app-add-student
    *ngIf="destroy==false" 
    [name]="student1.name"
    [title]="student1.title"
    [email]="student1.email"
    [mobile]="student1.mobile"

    (buttonClicked)="buttonClickedEventHandler($event)"
    ></app-add-student>